@namespace Lookif.UI.Component.Components.SeparatedComponents.SimpleForm
@using Lookif.UI.Component.Date.DateTimePickers
@using Microsoft.Extensions.Localization;
@using Lookif.UI.Component.DropDown
@using Lookif.UI.Component.Resources

@inject IStringLocalizer<Resource> basicResource
@{
    relatedSource = ((IStringLocalizer)Resource)?.GetAllStrings()?.ToList();

}
<div class="col-12 card ">
    @foreach (var item in ItemsOfClasses.OrderBy(x => x.Order))
    {
        <div class="row mb-2">
            <div class="col-md-2" style="text-align: right;">
                @{
                    if (relatedSource is null) // When there is no source file
                    {
                        if (@item.DisplayName is null ) // when there is no displayName
                        {
                            @item.Name
                        }
                        else
                        {
                            @item.DisplayName
                        }
                    }
                    else
                    { 
                        var value = relatedSource.FirstOrDefault(x => x.Name == @item.Name)?.Value;
                        if (value == "")
                        {
                            @item.Name
                        }
                        else
                        {
                            @value
                        }

                    }
                }

            </div>
            <div class="col-md-8">
                @if (item.Type is TypeOfInput.Text)
                {
                    <input  class="form-control" @bind="item.Value" type="text" style="width: inherit;" />
                }
                else if (item.Type is TypeOfInput.DropDown or TypeOfInput.Enum)
                {
                    <DropDownSelective SelectedOption="@item.Value" Records="@item.Collection" Key="Name" Value="Id" @bind-ReturnValue="item.Value"></DropDownSelective>
                }
                else if (item.Type is TypeOfInput.DateTime)
                {
                    <DateTimePickerDD ValueChanged="newValue => item.DateTime = newValue" Value="item.DateTime"></DateTimePickerDD>

                }
                else if (item.Type is TypeOfInput.CheckBox)
                {
                    <input  class="form-control" type="checkbox" @onchange='(x=>item.Value = ((bool)x.Value).ToString())'   />

                }
            </div>
        </div>
    }


    <div style="text-align: right;">
        <button class="btn btn-success col-1 mt-4 mb-4" @onclick="Add">@basicResource["Add"]</button>
        <button class="btn btn-warning col-2  mt-4 mb-4" @onclick="Clear">@basicResource["Clear"]</button>
    </div>
</div>